# Environnement virtuel
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers intermédiaires générés par preprocessing.py
*.npy

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/